body {
   background-color: rgb(221, 214, 214) !important;
}
.hero {
   background-image: url('https://images.unsplash.com/photo-1665049630226-fc2eea963716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}
#header {
   /* background-color: #666; */
   overflow: hidden;
}
.navbar {
   padding: 15px 0;
}
/* .navbar-brand {
} */
.navbar a {
   text-decoration: none;
}
h2.logo {
   font-size: 28px;
   font-weight: 400;
   color: #fff;
}
h2.logo strong {
   font-size: 35px;
   color: #edf828;
   font-weight: 600;
}
h2.center-logo {
   margin: 0 25px;
}
#navbarSupportedContent {
   justify-content: center;
}
/* ul.navbar-nav {
} */
ul.navbar-nav li.nav-item {
   margin-right: 25px;
}
ul.navbar-nav li.nav-item:last-child {
   margin-right: 0;
}
ul.navbar-nav li.nav-item a.nav-link {
   color: #fff;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
   color: #edf828;
}
.nav-link {
   padding: 10rem;
   border-radius: 10rem;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
   background-color: #fff;
   color: #000;
}

/* !CLIENT LOGO */
/* body {
   align-items: center;
   justify-content: center;
} */

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(calc(-250px * 7));
   }
}
.slider {
   height: 100px;
   margin: auto;
   overflow: hidden;
   position: relative;
   width: auto;
}
.slider .slide-track {
   animation: scroll 40s linear infinite;
   display: flex;
   width: calc(250px * 14);
}
.slider .slide {
   height: 100px;
   width: 250px;
}

.card-img-top {
   width: 100%;
   border-top-left-radius: calc(0.25rem - 1px);
   border-top-right-radius: calc(0.25rem - 1px);
}

.slider-programs {
   margin-top: 5rem;
}
